@charset "UTF-8";
.in_block {
    display: inline-block;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

/*-----------------------盒布局 start------------------*/
.box, .flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.flex0 {
    -webkit-box-flex: 0;
    -webkit-flex: 0;
    -ms-flex: 0;
    flex: 0;
}

.flex1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.flex2 {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
}

.flex3 {
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
}

.flex4 {
    -webkit-box-flex: 4;
    -webkit-flex: 4;
    -ms-flex: 4;
    flex: 4;
}

.flex5 {
    -webkit-box-flex: 5;
    -webkit-flex: 5;
    -ms-flex: 5;
    flex: 5;
}

.box.row, .flex.row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.box.row-reverse, .flex.row.row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.box.column, .flex.column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.box.column-reverse, .flex.row.column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

/*-----------------------盒布局 end------------------*/
/*多行，子项溢出到下一行*/
.flex-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/*单行，可能会溢出*/
.flex-wrap-no {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

/*子项反转*/
.flex-wrap-re {
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
}

/*边框*/
.b1 {
    border: 1px solid #DBE0E3;
}

.bt1 {
    border-top: 1px solid #DBE0E3;
}

.bb1 {
    border-bottom: 1px solid #DBE0E3;
}

.bl1 {
    border-left: 1px solid #DBE0E3;
}

.br1 {
    border-right: 1px solid #DBE0E3;
}

/*定位*/
.relative {
    position: relative;
}

.absolute {
    position: absolute!important;
}

.fixed {
    position: fixed;
}

.top-20 {
    top: -20px;
}

.bottom-20 {
    bottom: -20px;
}

.right-20 {
    right: -20px;
}

.left-20 {
    left: -20px;
}

.top-19 {
    top: -19px;
}

.bottom-19 {
    bottom: -19px;
}

.right-19 {
    right: -19px;
}

.left-19 {
    left: -19px;
}

.top-18 {
    top: -18px;
}

.bottom-18 {
    bottom: -18px;
}

.right-18 {
    right: -18px;
}

.left-18 {
    left: -18px;
}

.top-17 {
    top: -17px;
}

.bottom-17 {
    bottom: -17px;
}

.right-17 {
    right: -17px;
}

.left-17 {
    left: -17px;
}

.top-16 {
    top: -16px;
}

.bottom-16 {
    bottom: -16px;
}

.right-16 {
    right: -16px;
}

.left-16 {
    left: -16px;
}

.top-15 {
    top: -15px;
}

.bottom-15 {
    bottom: -15px;
}

.right-15 {
    right: -15px;
}

.left-15 {
    left: -15px;
}

.top-14 {
    top: -14px;
}

.bottom-14 {
    bottom: -14px;
}

.right-14 {
    right: -14px;
}

.left-14 {
    left: -14px;
}

.top-13 {
    top: -13px;
}

.bottom-13 {
    bottom: -13px;
}

.right-13 {
    right: -13px;
}

.left-13 {
    left: -13px;
}

.top-12 {
    top: -12px;
}

.bottom-12 {
    bottom: -12px;
}

.right-12 {
    right: -12px;
}

.left-12 {
    left: -12px;
}

.top-11 {
    top: -11px;
}

.bottom-11 {
    bottom: -11px;
}

.right-11 {
    right: -11px;
}

.left-11 {
    left: -11px;
}

.top-10 {
    top: -10px;
}

.bottom-10 {
    bottom: -10px;
}

.right-10 {
    right: -10px;
}

.left-10 {
    left: -10px;
}

.top-9 {
    top: -9px;
}

.bottom-9 {
    bottom: -9px;
}

.right-9 {
    right: -9px;
}

.left-9 {
    left: -9px;
}

.top-8 {
    top: -8px;
}

.bottom-8 {
    bottom: -8px;
}

.right-8 {
    right: -8px;
}

.left-8 {
    left: -8px;
}

.top-7 {
    top: -7px;
}

.bottom-7 {
    bottom: -7px;
}

.right-7 {
    right: -7px;
}

.left-7 {
    left: -7px;
}

.top-6 {
    top: -6px;
}

.bottom-6 {
    bottom: -6px;
}

.right-6 {
    right: -6px;
}

.left-6 {
    left: -6px;
}

.top-5 {
    top: -5px;
}

.bottom-5 {
    bottom: -5px;
}

.right-5 {
    right: -5px;
}

.left-5 {
    left: -5px;
}

.top-4 {
    top: -4px;
}

.bottom-4 {
    bottom: -4px;
}

.right-4 {
    right: -4px;
}

.left-4 {
    left: -4px;
}

.top-3 {
    top: -3px;
}

.bottom-3 {
    bottom: -3px;
}

.right-3 {
    right: -3px;
}

.left-3 {
    left: -3px;
}

.top-2 {
    top: -2px;
}

.bottom-2 {
    bottom: -2px;
}

.right-2 {
    right: -2px;
}

.left-2 {
    left: -2px;
}

.top-1 {
    top: -1px;
}

.bottom-1 {
    bottom: -1px;
}

.right-1 {
    right: -1px;
}

.left-1 {
    left: -1px;
}

.top0 {
    top: 0px;
}

.bottom0 {
    bottom: 0px;
}

.right0 {
    right: 0px;
}

.left0 {
    left: 0px;
}

.top1 {
    top: 1px;
}

.bottom1 {
    bottom: 1px;
}

.right1 {
    right: 1px;
}

.left1 {
    left: 1px;
}

.top2 {
    top: 2px;
}

.bottom2 {
    bottom: 2px;
}

.right2 {
    right: 2px;
}

.left2 {
    left: 2px;
}

.top3 {
    top: 3px;
}

.bottom3 {
    bottom: 3px;
}

.right3 {
    right: 3px;
}

.left3 {
    left: 3px;
}

.top4 {
    top: 4px;
}

.bottom4 {
    bottom: 4px;
}

.right4 {
    right: 4px;
}

.left4 {
    left: 4px;
}

.top5 {
    top: 5px;
}

.bottom5 {
    bottom: 5px;
}

.right5 {
    right: 5px;
}

.left5 {
    left: 5px;
}

.top6 {
    top: 6px;
}

.bottom6 {
    bottom: 6px;
}

.right6 {
    right: 6px;
}

.left6 {
    left: 6px;
}

.top7 {
    top: 7px;
}

.bottom7 {
    bottom: 7px;
}

.right7 {
    right: 7px;
}

.left7 {
    left: 7px;
}

.top8 {
    top: 8px;
}

.bottom8 {
    bottom: 8px;
}

.right8 {
    right: 8px;
}

.left8 {
    left: 8px;
}

.top9 {
    top: 9px;
}

.bottom9 {
    bottom: 9px;
}

.right9 {
    right: 9px;
}

.left9 {
    left: 9px;
}

.top10 {
    top: 10px;
}

.bottom10 {
    bottom: 10px;
}

.right10 {
    right: 10px;
}

.left10 {
    left: 10px;
}

.top11 {
    top: 11px;
}

.bottom11 {
    bottom: 11px;
}

.right11 {
    right: 11px;
}

.left11 {
    left: 11px;
}

.top12 {
    top: 12px;
}

.bottom12 {
    bottom: 12px;
}

.right12 {
    right: 12px;
}

.left12 {
    left: 12px;
}

.top13 {
    top: 13px;
}

.bottom13 {
    bottom: 13px;
}

.right13 {
    right: 13px;
}

.left13 {
    left: 13px;
}

.top14 {
    top: 14px;
}

.bottom14 {
    bottom: 14px;
}

.right14 {
    right: 14px;
}

.left14 {
    left: 14px;
}

.top15 {
    top: 15px;
}

.bottom15 {
    bottom: 15px;
}

.right15 {
    right: 15px;
}

.left15 {
    left: 15px;
}

.top16 {
    top: 16px;
}

.bottom16 {
    bottom: 16px;
}

.right16 {
    right: 16px;
}

.left16 {
    left: 16px;
}

.top17 {
    top: 17px;
}

.bottom17 {
    bottom: 17px;
}

.right17 {
    right: 17px;
}

.left17 {
    left: 17px;
}

.top18 {
    top: 18px;
}

.bottom18 {
    bottom: 18px;
}

.right18 {
    right: 18px;
}

.left18 {
    left: 18px;
}

.top19 {
    top: 19px;
}

.bottom19 {
    bottom: 19px;
}

.right19 {
    right: 19px;
}

.left19 {
    left: 19px;
}

.top20 {
    top: 20px;
}

.bottom20 {
    bottom: 20px;
}

.right20 {
    right: 20px;
}

.left20 {
    left: 20px;
}

/*宽度高度*/
.w1 {
    width: 1px;
}

.h1 {
    height: 1px;
}

.w2 {
    width: 2px;
}

.h2 {
    height: 2px;
}

.w3 {
    width: 3px;
}

.h3 {
    height: 3px;
}

.w4 {
    width: 4px;
}

.h4 {
    height: 4px;
}

.w5 {
    width: 5px;
}

.h5 {
    height: 5px;
}

.w6 {
    width: 6px;
}

.h6 {
    height: 6px;
}

.w7 {
    width: 7px;
}

.h7 {
    height: 7px;
}

.w8 {
    width: 8px;
}

.h8 {
    height: 8px;
}

.w9 {
    width: 9px;
}

.h9 {
    height: 9px;
}

.w10 {
    width: 10px;
}

.h10 {
    height: 10px;
}

.w11 {
    width: 11px;
}

.h11 {
    height: 11px;
}

.w12 {
    width: 12px;
}

.h12 {
    height: 12px;
}

.w13 {
    width: 13px;
}

.h13 {
    height: 13px;
}

.w14 {
    width: 14px;
}

.h14 {
    height: 14px;
}

.w15 {
    width: 15px;
}

.h15 {
    height: 15px;
}

.w16 {
    width: 16px;
}

.h16 {
    height: 16px;
}

.w17 {
    width: 17px;
}

.h17 {
    height: 17px;
}

.w18 {
    width: 18px;
}

.h18 {
    height: 18px;
}

.w19 {
    width: 19px;
}

.h19 {
    height: 19px;
}

.w20 {
    width: 20px;
}

.w80 {
    width: 80px;
}

.h20 {
    height: 20px;
}

/*外边距*/
.m1 {
    margin: 1px !important;
}

.mt1 {
    margin-top: 1px !important;
}

.mb1 {
    margin-bottom: 1px !important;
}

.ml1 {
    margin-left: 1px !important;
}

.mr1 {
    margin-right: 1px !important;
}

.p1 {
    padding: 1px !important;
}

.pt1 {
    padding-top: 1px !important;
}

.pb1 {
    padding-bottom: 1px !important;
}

.pl1 {
    padding-left: 1px !important;
}

.pr1 {
    padding-right: 1px !important;
}

.m2 {
    margin: 2px !important;
}

.mt2 {
    margin-top: 2px !important;
}

.mb2 {
    margin-bottom: 2px !important;
}

.ml2 {
    margin-left: 2px !important;
}

.mr2 {
    margin-right: 2px !important;
}

.p2 {
    padding: 2px !important;
}

.pt2 {
    padding-top: 2px !important;
}

.pb2 {
    padding-bottom: 2px !important;
}

.pl2 {
    padding-left: 2px !important;
}

.pr2 {
    padding-right: 2px !important;
}

.m3 {
    margin: 3px !important;
}

.mt3 {
    margin-top: 3px !important;
}

.mb3 {
    margin-bottom: 3px !important;
}

.ml3 {
    margin-left: 3px !important;
}

.mr3 {
    margin-right: 3px !important;
}

.p3 {
    padding: 3px !important;
}

.pt3 {
    padding-top: 3px !important;
}

.pb3 {
    padding-bottom: 3px !important;
}

.pl3 {
    padding-left: 3px !important;
}

.pr3 {
    padding-right: 3px !important;
}

.m4 {
    margin: 4px !important;
}

.mt4 {
    margin-top: 4px !important;
}

.mb4 {
    margin-bottom: 4px !important;
}

.ml4 {
    margin-left: 4px !important;
}

.mr4 {
    margin-right: 4px !important;
}

.p4 {
    padding: 4px !important;
}

.pt4 {
    padding-top: 4px !important;
}

.pb4 {
    padding-bottom: 4px !important;
}

.pl4 {
    padding-left: 4px !important;
}

.pr4 {
    padding-right: 4px !important;
}

.m5 {
    margin: 5px !important;
}

.mt5 {
    margin-top: 5px !important;
}

.mb5 {
    margin-bottom: 5px !important;
}

.ml5 {
    margin-left: 5px !important;
}

.mr5 {
    margin-right: 5px !important;
}

.p5 {
    padding: 5px !important;
}

.pt5 {
    padding-top: 5px !important;
}

.pb5 {
    padding-bottom: 5px !important;
}

.pl5 {
    padding-left: 5px !important;
}

.pr5 {
    padding-right: 5px !important;
}

.m6 {
    margin: 6px !important;
}

.mt6 {
    margin-top: 6px !important;
}

.mb6 {
    margin-bottom: 6px !important;
}

.ml6 {
    margin-left: 6px !important;
}

.mr6 {
    margin-right: 6px !important;
}

.p6 {
    padding: 6px !important;
}

.pt6 {
    padding-top: 6px !important;
}

.pb6 {
    padding-bottom: 6px !important;
}

.pl6 {
    padding-left: 6px !important;
}

.pr6 {
    padding-right: 6px !important;
}

.m7 {
    margin: 7px !important;
}

.mt7 {
    margin-top: 7px !important;
}

.mb7 {
    margin-bottom: 7px !important;
}

.ml7 {
    margin-left: 7px !important;
}

.mr7 {
    margin-right: 7px !important;
}

.p7 {
    padding: 7px !important;
}

.pt7 {
    padding-top: 7px !important;
}

.pb7 {
    padding-bottom: 7px !important;
}

.pl7 {
    padding-left: 7px !important;
}

.pr7 {
    padding-right: 7px !important;
}

.m8 {
    margin: 8px !important;
}

.mt8 {
    margin-top: 8px !important;
}

.mb8 {
    margin-bottom: 8px !important;
}

.ml8 {
    margin-left: 8px !important;
}

.mr8 {
    margin-right: 8px !important;
}

.p8 {
    padding: 8px !important;
}

.pt8 {
    padding-top: 8px !important;
}

.pb8 {
    padding-bottom: 8px !important;
}

.pl8 {
    padding-left: 8px !important;
}

.pr8 {
    padding-right: 8px !important;
}

.m9 {
    margin: 9px !important;
}

.mt9 {
    margin-top: 9px !important;
}

.mb9 {
    margin-bottom: 9px !important;
}

.ml9 {
    margin-left: 9px !important;
}

.mr9 {
    margin-right: 9px !important;
}

.p9 {
    padding: 9px !important;
}

.pt9 {
    padding-top: 9px !important;
}

.pb9 {
    padding-bottom: 9px !important;
}

.pl9 {
    padding-left: 9px !important;
}

.pr9 {
    padding-right: 9px !important;
}

.m10 {
    margin: 10px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.ml10 {
    margin-left: 10px !important;
}

.mr10 {
    margin-right: 10px !important;
}

.p10 {
    padding: 10px !important;
}

.pt10 {
    padding-top: 10px !important;
}

.pb10 {
    padding-bottom: 10px !important;
}

.pl10 {
    padding-left: 10px !important;
}

.pr10 {
    padding-right: 10px !important;
}

/*自号*/
.fs12 {
    font-size: 12px;
}

.fs13 {
    font-size: 13px;
}

.fs14 {
    font-size: 14px;
}

.fs15 {
    font-size: 15px;
}

/*背景*/
.b_red {
    background: red;
}

.b_blue {
    background: blue;
}

.b_yellow {
    background: yellow;
}

.b_yellow1 {
    background: yellow;
}

.mt20{
    margin-top:20px;
}
.ml75{
    margin-left:75px;
}
.ml70{
    margin-left:70px;
}
.mt25{
    margin-top:25px;
}
.ml80{
     margin-left:80px;
 }
.ml20{
    margin-left:20px;
}
.w300{
	width: 300px;
}
.wp100{
    width: 100%;
}
.hp100{
    height: 100%;
}
.m0{
    margin:0!important;
}
.left{
    float: left;
}
.right{
    float: right;
}
.mt150{
    margin-top:150px!important;
}
