<div style="width:550px;height:380px;margin:30px auto;">
<ul class="bxslider">
  <li><img width="100%" src="./img/jingse/1.png" title="行政楼"/></li>
  <li><img width="100%" src="./img/jingse/2.png" title="钟楼"/></li>
  <li><img width="100%" src="./img/jingse/3.png" title="欧洲城堡"/></li>
  <li><img width="100%" src="./img/jingse/4.png" title="秋意盎然"/></li>
  <li><img width="100%" src="./img/jingse/5.png" title="缤纷天地"/></li>
  <li><img width="100%" src="./img/jingse/6.png" title="冰雪奇缘"/></li>
</ul>
</div>

