<div class="findPassword_content flex">
    <div class="flex1">
        <ul class="flex">
            <li class="w80">
                电子邮箱
            </li>
            <li>
                <input type="text" id="username" class="form-control" placeholder="用户邮箱" value="">
            </li>
        </ul>

        <button id="findPassword" type="button" class="btn btn-primary mt20 ml80" >提交</button>
    </div>
    <div class="flex1 bl1">
        <button id="register" type="button" class="btn btn-link ml20">注册新帐号</button>
    </div>
</div>