<div class="form">
    <div class="form-group">
        <label for="createtime">创建时间</label>
        <input type="text" readonly class="form-control" id="createtime" placeholder="创建时间" value="<%=data.createtime%>">
    </div>
    <div class="form-group">
        <label for="humidity">湿度</label>
        <input type="text" class="form-control" id="humidity" placeholder="湿度" value="<%=data.humidity%>">
    </div>
    <div class="form-group">
        <label for="unit">单位</label>
        <input type="text" class="form-control" id="unit" placeholder="单位" value="<%=data.unit%>">
    </div>
    <button id="submit" type="button" class="btn btn-warning right">提交</button>
</div>