<h1 style="text-align: center;">襄汾县国税局推进学习型党组织建设</h1>

<div id="alltxt" class="alltxt"><p>　　今年以来，襄汾县国税局以努力提升全局党员干部的学习力、创造力为目标，采取四项措施引导干部职工树立学习理念，进一步提升税收工作法制化、科学化、精细化管理水平，全面推进学习型党组织建设。</p><p>　　一是制订切合实际的规划和方案。引导广大党员努力掌握和运用科学的新思想、新知识、新经验，增强党员的理论素养、学习能力和解决税收实际问题的能力。</p><p>　　二是坚持围绕发展抓党建、抓好党建促发展。在学习、探索、创新中寻求创建学习型组织的最佳方式和方法，使创建过程充满生机和活力。</p><p>　　三是进一步加强和改进党组中心组学习。党组中心组要坚持每月进行一次集中学习，大力弘扬理论联系实际的学风，形成改进工作的思路和举措，指导实际工作。</p><p>　　四是学以致用，确保学习型组织建设彰显成效。充分发挥党组织的政治优势、组织优势，为党员开展学习活动营造良好的组织环境。</p><p><br></p><p style="text-align: right; ">（责任编辑：郭素卿）</p> 
<div class="pages"></div></div>



<div id="messageList" class="messageList">

</div>