<h1 style="text-align: center;">习近平创建首个创新战略伙伴关系</h1>
<div class="notice">
<div class="article article_16" id="artibody">
	<p>
		4月8日，习近平在人民大会堂同瑞士联邦主席施奈德·阿曼举行会谈，两国元首一致决定建立中瑞创新战略伙伴关系，中瑞双方共同发表了《中华人民共和国和瑞士联邦关于建立创新战略伙伴关系的联合声明》。瑞士成为中国首个创新战略伙伴关系国，也是我国首个以五大发展理念定位和命名的外交关系国。这不仅宣告了中瑞友好合作实现新跨越、进入新时代，而且也预示着中国外交工作按照五大发展理念新要求，启动新坐标、进入新定位，请随“学习中国”小编一起学习。</p>
	<div class="img_wrapper">
		<img
			src="http://n.sinaimg.cn/news/transform/20160411/0n6F-fxrckae7755404.jpg"
			alt="图为：2016年4月8日,国家主席习近平在北京人民大会堂同瑞士联邦主席施奈德·阿曼举行会谈。会谈前,习近平在人民大会堂东门外广场为施奈德·阿曼举行欢迎仪式。"
			data-link=""><span class="img_descr">
	</div>
	<p style="text-align: left;">
		<strong>一、以开拓创新为突出特点</strong>
	</p>
	<p>
		“理者，物之固然，事之所以然也。”党的十八届五中全会提出创新、协调、绿色、开放、共享发展理念。习近平指出：“发展理念是发展行动的先导，是管全局、管根本、管方向、管长远的东西，是发展思路、发展方向、发展着力点的集中体现。发展理念搞对了，目标任务就好定了，政策举措也就跟着好定了。”
		五大发展理念也是中国外交工作的指挥棒，创新作为五大发展理念的首要理念，必须在中国外交战略中有充分体现。</p>
	<p>
		今年是中国“十三五”规划开局之年，也是瑞士新一届政府的执政元年。中瑞双方以创新为引领，全面加强各领域的创新合作，将为两国关系发展树立新坐标，为两国经济发展注入了新活力。习近平会见瑞士联邦主席施奈德·阿曼时指出：“开拓创新是中瑞关系最突出的特点。”</p>
	<p>
		回顾历史，可以清楚地看到开拓创新精神始终是中瑞关系的“血脉经络”。早在1950年，瑞士就成为最早承认并与新中国建交的西方国家之一，中瑞关系因此有了高起点。1980年，电梯供应商瑞士迅达公司在北京成立了中国第一家工业合资企业，最早分享了中国改革开放的果实。2007年，当一些国家对中国产品滥用反倾销调查的时候，瑞士在西欧国家中率先承认中国完全市场经济地位。2013年，瑞士再次一马当先，成为世界经济前20强和欧洲大陆国家中第一个与中国签署自贸协定的国家。2015年，瑞士又成为首批申请加入亚投行的国家之一。习近平高度评价中瑞以开拓创新精神开展的卓有成效的合作，并在中欧关系中发挥着示范作用。他指出：“瑞士是最早承认中国完全市场经济地位的欧洲国家之一，也是首个同中国签署自由贸易协定的欧洲大陆国家，为中欧合作树立了典范。”</p>
	<p>创新精神是中华民族最鲜明的禀赋，开拓创新精神不仅是我们国内发展的新动力，也是推动国际合作的深层动力。
		“十三五”时期，我国把创新摆在国家发展全局的核心位置，大力实施创新驱动发展战略，外交也必须为这一战略核心服务。习近平在中共中央政治局第九次集体学习时指出：“当前，从全球范围看，科学技术越来越成为推动经济社会发展的主要力量，创新驱动是大势所趋。新一轮科技革命和产业变革正在孕育兴起，一些重要科学问题和关键核心技术已经呈现出革命性突破的先兆，带动了关键技术交叉融合、群体跃进，变革突破的能量正在不断积累。即将出现的新一轮科技革命和产业变革与我国加快转变经济发展方式形成历史性交汇，为我们实施创新驱动发展战略提供了难得的重大机遇。机会稍纵即逝，抓住了就是机遇，抓不住就是挑战。我们必须增强忧患意识，紧紧抓住和用好新一轮科技革命和产业变革的机遇，不能等待、不能观望、不能懈怠。”
		2013年7月，习近平在会见瑞士联邦主席毛雷尔时指出：“中国确立了‘两个一百年’的奋斗目标。实现这个目标，要靠中国人民的辛勤劳动，要靠科技创新，也要靠坚持改革开放、坚持和平发展、坚持国际合作。”</p>
	<p>
		瑞士虽然国土面积不大，却是世界上最具创新的国家之一，被誉为“创新之国”。瑞士经济技术实力以“小而强”著称，连续多年稳居“全球创新指数”榜首，在高端工业制造、生态、环保等领域拥有一批世界知名企业和先进技术。瑞士人均拥有专利数量位居世界第二，仅次于日本。瑞士是阿尔弗雷德·诺贝尔的出生地，瑞士公民赢得诺贝尔奖的比例远超其他任何国家。创造最好创新的关键是拥有高素质的人才，这也是瑞士与其他国家最大的区别所在。4月7日，李克强会见瑞士联邦主席施奈德·阿曼时指出：“创新是中国经济转型升级的必由之路。我们正在深入实施创新驱动发展战略，推动大众创业、万众创新，把经济增长从过度依赖自然资源转向更多依靠人力资源。瑞士既是创新的国度，又富于工匠精神。双方开展创新合作前景广阔。希望双方为两国企业、高校、科研机构等搭建创新合作机制平台。”</p>
	<p>
		把中国的创新驱动发展战略与瑞士的创新优势相结合，共同支持两国企业、高校和科研机构开展创新合作。这不仅有利于引领双边关系发展，也将为中欧合作发挥积极的带动作用。</p>
	<div class="img_wrapper">
		<img
			src="http://n.sinaimg.cn/news/transform/20160411/fvfO-fxrckae7755478.png"
			alt="图为：2013年7月18日，国家主席习近平在北京人民大会堂会见瑞士联邦主席毛雷尔。" data-link=""><span
			class="img_descr"></span>
	</div>
	<p style="text-align: left;">
		<strong>二、以共同提升创新能力为目标</strong>
	</p>
	<p>
		创新是世界经济增长的不息引擎，也是人类破解发展难题的根本出路。当前，国际金融危机的深远影响仍未消除，世界经济复苏艰难曲折，各国经济社会发展都面临新的挑战。此时中瑞建立创新战略伙伴关系，实施创新战略对接，发挥各自优势，共同提升两国创新能力。不仅将给中瑞两国的经济发展带来新动力、拓展新空间，同时也将给国际创新合作提供新示范、新经验。4月8日，习近平会见瑞士联邦主席施奈德·阿曼时指出：“双方应建立和加强战略磋商等各类对话机制，增进相互理解和信任，统筹规划重点合作领域，将两国关系新定位落到实处。”瑞中商务理事会副会长杨玉明在接受中国经济网记者采访时说：“瑞中两国经济高度互补，瑞士拥有很强的企业创新精神、高素质的员工以及优质的产品，而中国有着巨大的市场容量而且中国消费者的消费水平不断提高，瑞士企业普遍看好中国市场。”</p>
	<p>
		创新战略伙伴关系将同时提升中瑞两国制造业的创新能力。世界新一轮工业革命正在启动中，中国制造2025蓄势待发，瑞士这个“创新之国”的经验弥足珍贵。而中国的广大市场也将为瑞士制造业提升产品质量提供了机遇。4月8日，ABB董事长皮特？傅赛在第四届中瑞经济论坛表示在制造业领域，自动化和数字化已成为不可逆转的潮流，所以要着力提高企业的创新和研发能力。瑞士在高端制造业领域拥有先进经验，可与中国在创新、高科技、高端制造等领域积极探讨搭建相应平台，拓展新的合作。他还重点强调与中小企业、高校、科研机构等开展创新项目合作的可能性。4月7日，李克强会见瑞士联邦主席施奈德·阿曼时指出：“加强‘中国制造2025’和‘瑞士工业4.0’对接，助力双方在数字化和工业4.0浪潮中走在前沿，超越传统的贸易和投资关系，实现更高层次的互利双赢。”</p>
	<p>
		创新战略伙伴关系将同时提升两国节能环保领域的创新能力。2016年3月，瑞士合作发展署与中国烟台市人民政府正式签署中国—瑞士低碳城市项目合作备忘录。据悉，中瑞低碳城市项目共二期，每期3年，于2016年年初正式启动。瑞士驻华大使戴尚贤表示，瑞士发展合作署希望通过与中国合作，进而推介瑞士应对气候变化及消除其影响的创新技术、知识和方法。通过成功地引入创新技术和方法，结合城市管理者综合能力的提升，以及在不同层面的政策对话，希望低碳城市项目能够帮助中国城镇化实现更加可持续化的发展。瑞士早在上个世纪已在这些领域探索并积累了许多成功经验。</p>
	<p>
		创新战略伙伴关系将同时提升两国金融领域的创新能力。瑞士是重要的国际金融中心，拥有完备而具活力的金融体系，孕育了众多久负盛名的金融企业，被称为银行密度最高的国家。瑞士财政部长乌力·毛勒表示，中国目前也正在深化金融改革、稳步推进利率市场化改革；而金融业高度发达的瑞士，可以借助自身完善的金融市场基础设施、创新能力以及法律体系监管，为中国金融改革带来一定借鉴。乌力·毛勒认为，中瑞自贸协定生效近两年多以来，促进了双方经济增长，成效显著而积极。中国当下处于产业转型的关键时刻，通过跟瑞士高新技术、高端产业的合作，有助于中国的产业转型。而对于瑞士这样的小型经济体来说，中国庞大的市场将进一步提升其产品的竞争力。瑞士财长乌力·毛勒希望未来中瑞两国能继续推进中瑞自贸协定的深度合作，扩展更多具体领域的合作。2013年5月，李克强在瑞士《新苏黎世报》发表的署名文章中指出：“瑞士长于金融，管理经验丰富，被称为银行密度最高的国家。与瑞方加强金融监管、宏观政策和完善资本市场体系等方面的合作，是中国开放型经济发展的客观需要。中国正在深化金融业改革开放，包括稳步推进利率市场化改革以及人民币资本项目可兑换、建立个人投资者境外投资制度、完善金融监管机制等，这将为两国金融企业互动发展提供新的机遇。同时，中瑞可以在国际货币基金组织、世界银行等国际金融机构中携手合作，为维护国际金融稳定和促进世界经济增长发挥‘1+1大于2’的作用。”</p>
	<p>
		创新战略伙伴关系将同时提升两国现代生态农业的创新能力。2013年5月，李克强访问瑞士时指出：“瑞士是一个农牧业发达的国家，注重食品安全和保护环境，这是农业的生命。中国也是一个农业大国，转变传统农业发展方式，发展现代农业是一项重大战略任务，关键就是要提高农业综合生产能力，提高农产品质量和农民收入，确保老百姓吃上安全、放心的食品。瑞士拥有丰富的农牧业资源和先进技术，中国拥有潜力巨大的市场，双方互补性强，完全可以进一步加强交流与合作，充分发掘潜力，实现农业可持续发展，造福两国人民。”</p>
	<p>
		当今世界各国综合国力的竞争，说到底还是创新能力的竞争，谁能在创新上领先一步，谁就能掌握主动，就能在竞争中占领制高点。中国只有博采众长，更多地与发达国家建立创新战略合作关系，成为一个创新大国，才能真正立于不败之地。</p>
	<p>来源：中国干部学习网</p>
</div>
</div>
<div id="messageList" class="messageList">

</div>
